/* Cards.css */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
.card{
  margin: 2rem;
}
  
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .cards-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  